.postJobPageWrapper{   
    
    margin-left: 10%;
    margin-right: 10%;
}
.hint{
    opacity:0.5;
}
.postJobWrapper{
    margin-left: 7%;
    margin-right: 7%;  
    
}

.inputbox{
    height: 40px ;
    width : 100%;
     border-radius: 5px;
     border: 1px solid black;
     font-size: medium;
     
    
}
.button{
    border-radius:8px;
    background-color: rgb(40, 4, 99);
    width : 101%;   
    height: 40px;
    border: 1px solid rgb(40, 4, 99) ;
    margin-top: 30px; 
    cursor: pointer;
    font-weight: 500;
    font-size:medium;
    text-align:center;
    color: white;
        }
        .successmessage{
            color: rgb(85, 156, 85);
            font-style: italic;
            }
        .errormessage{
            color : red;
            font-style: italic;
        }
        
        .logo{
            height:80px;
            width:8%;
            margin-left: 15%;
            margin-top: 1%;
        }